body {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
}

.mainCont {
  background-color: #f5f5f5;
}

.mainRow {
  padding-top: 150px;
}

.mainImage {
  width: 500px;
  padding-top: 60px;
}

.mainTitle {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #083b66;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
