body {
  background-color: #F5F5F5;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

.mainCont {
  background-color: #F5F5F5;
}

.mainRow{
  padding-top: 100px;
}

.footRow{
  padding-top: 140px;
}

.mainImage{
  width: 600px;
  padding-top: 60px;
}

.mainTitle{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
