.flipCol {
  margin-bottom: 30px;
}
.flipRow {
  display: contents;
}

.chip {
  background-color: #083b66;
  color: white;
  font-size: 14px;
}

.flippy-front,
.flippy-back {
  border-radius: 5%;
}

a {
  color: black;
}

.moreButton {
  background-color: #083b66;
}

.imgPlist {
  width: 80px;
}

.titlePlist {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
}

.userPlist {
  font-size: 15px;
}

.col .row {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

.userInfo {
  font-size: 15px;
  text-align: center !important;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.userInfoDate {
  text-align: left !important;
}

.tagsP {
  padding-top: 20px;
}

.moreInf {
  padding-top: 20px;
}

.myUserC {
  padding-top: 60px;
}

.addProject {
  padding-left: 100px;
}

.noProjects{
  font-size: 25px;
  color: #083b66;
}
