.flipCol{
    margin:30px;
    
}

.chip{
    background-color: #083B66;
    color:white;
    font-size: 10px;
}

.flippy-front {
    border-radius: 5%;
}

.flippy-back {
    border-radius: 5%;
}
a{
    color:black;
}

.moreButton{
    background-color: #083B66;
}