.navBar {
  background-color: #fafafa;
}

.navbar-fixed {
  flex: 0 0 64px;
}

.logoImg {
  width: 100px;
  margin: 10px 0px 0px 20px;
}

.navLink {
  font-size: 13px;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 60px;
}

.navLink:hover {
  color: #4db6ac;
}

nav a {
  color: black;
}

.userBut {
  padding: 0px 20px 0px 15px;
  margin-right: 40px;
}

.modalNav {
  width: 500px;
}
#dropdown13 {
  top: 53px !important;
}

@media screen and (max-width: 600px) {
  .logoImg {
    width: 85px;
  }
  /* #dropdown13 {
  width: 180px !important;
} */
  .dropdown-content {
    width: 180px !important;
  }
  nav .brand-logo {
    left: 80% !important;
  }
  .modalNav {
    width: 360px;
  }
}
