.showPuser {
  font-weight: bold;
  font-size: 20px;
}

.userP {
  margin-bottom: 10px;
}

.showIuser {
  font-size: 17px;
  text-align: justify;
}
.showDuser {
  font-weight: bold;
  font-size: 16px;
  color: #083b66;
}

.titleProject {
  font-size: 30px;
  color: #083b66;
}

.contentProject {
  font-size: 18px;
  text-align: justify;
}

.modalShow {
  width: 600px;
}

.delIdea {
  font-size: 15px;
  color: #083b66;
  font-weight: bold;
  text-transform: lowercase;
  font-family: "Source Sans Pro", sans-serif;
}
.showTproject {
  padding-top: 15px !important;
  padding-left: 0px !important;
}

.showVproject {
  height: 50px;
}
.showIcon{
  color: rgba(0, 0, 0, 0.637) !important;
}


