.editTitle {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  padding-right: 100px;
}

.editVotes {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .editTitle {
    font-size:18px;
    text-align: unset;
    padding-right: unset;
  }
}
